/* GLOBAL */

*{ box-sizing: border-box; }


body{
    font-family: sans-serif;
    margin: 0;
    background: black;
}

a{
    text-decoration: none;
}

/* HEADER */

header{
    background: black;
    color: white;
    padding: 1em 2em;
}

header a{
    color: white
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/* SITE ID */
.site-id h1{
    margin: 0;
}

/* NAV */
nav ul{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-top: .6em;
}

nav li{
    margin: 0;
    list-style: none;
}

nav a{
    display: block;
    padding: 1em
}

/* FOOTER */
footer{
    border-top: 1px solid #ddd;
    max-width: 1000px;
    margin: 0 auto;
}
footer nav ul{
    justify-content: center;
}


a{
    color: white;
}


/* MAIN */
main{
    padding: 0 0 3em 0;
    min-height: 80vh;
}

/* SECTIONS */

section{
    padding: 3em 1em;
}

/* HERO */
.hero{
    display: grid;
    align-content: center;
    text-align: center;
    min-height: 50vh;
    color: black;
}


.hero h2{
    font-size: 6em;
    text-transform: uppercase;
    margin: 0 auto;
    font-family: 'Chewy', cursive;
}

.hero p{
    max-width: 600px;
    margin: 1em auto;
    font-family: 'Chewy', cursive;
}

.page-sub .hero{
    min-height: 30vh;
    background-image: url('https://picsum.photos/id/223/1600/800');
    background-position: center;
    background-size: cover;
    
}

.page-blog .hero{
    background-image: url('https://picsum.photos/id/56/1600/800');
    background-position: center top;
    background-size: cover;
}

.page-about .hero{
    color: lightslategray;
}

/* LISTS */
.lists {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    color: white;
}

@media (max-width:767px){
    .lists{
        grid-template-columns: 1fr 1fr;
    
    }
}

.page-about .lists a{
    color: lightslategray;
}

/* BLOG Archives */



.blog-archives{
    max-width: 600px;
    margin: 0 auto;
    background: black;
}

.blog-entry{
    border: 1px solid #ddd;
    padding: 2em;
    margin: 2em 0;
    background: black;
    color: white;
}

.date{
    opacity: .5;
    font-size: .8em;
}

.page-home .hero {
    text-align: center;
    background-image: url("../images/fallingwatercopy.jpg");
    background-position: center bottom;
    background-size: cover;
    min-height: 1000px;
}

.pics {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    color: white;
}

@media (max-width:767px){
    .pics{
        grid-template-columns: 1fr 1fr;
    
    }
}

.songs{
    text-align: center;
}
.songs h2{
    color: white
}
.songs img{
    max-width: 200px;
}

.games{
    text-align: center;
}
.games h2{
    color: white
}
.games img{
    max-width: 200px;
}

.tv{
    text-align: center;
}
.tv h2{
    color: white
}
.tv img{
    max-width: 200px;
}

.filler{
    text-align: center;
    color: white;
}
.filler img{
    max-width: 100px;
}
